@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

html {
  font-size: 62.5%;
}

.small-font {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: 1.8;
  color: hsl(232deg, 10%, 55%);
  margin: 2rem 0;
}

.regular-font {
  font-size: 1.8rem;
  color: hsl(0deg, 0%, 100%);
  font-family: "Barlow", sans-serif;
  text-transform: capitalize;
}

.section-heading {
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-family: "Fraunces", san-serif;
  max-width: 70%;
  text-align: left;
  font-weight: 900;
}

.extra-large-font {
  font-size: clamp(4rem, 4vw, 5.6rem);
  font-family: "Fraunces", san-serif;
  font-weight: 700;
  word-spacing: 1rem;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}

.info-font {
  font-size: 1.2rem;
  font-family: "Fraunces", san-serif;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  position: relative;
  transform: width 0.2s;
}

.testimonial-heading {
  font-size: 2rem;
}

.container {
  min-height: 100vh;
  max-width: 100%;
}
.container .nav {
  min-height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.container .nav-logo {
  margin-left: 5rem;
}
.container .nav-list {
  margin-left: auto;
  margin-right: 5rem;
}
.container .nav-link:not(:last-child) {
  margin-right: 5rem;
}
.container .nav .contact {
  border-radius: 10rem;
  background-color: hsl(0deg, 0%, 100%);
  padding: 1rem 2rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
  transition: background-color 0.2s, color 0.2s;
}
.container .nav .contact:hover {
  background-color: rgba(25, 83, 107, 0.4);
  color: hsl(0deg, 0%, 100%);
}
.container .header {
  background: url(../images/desktop/image-header.jpg) center no-repeat;
  background-size: cover;
  min-height: 80vh;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  transition: all 0.2s;
}
.container .header-wrapper {
  max-width: fit-content;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .header-arrow-down {
  margin-top: clamp(5rem, 5vh, 10rem);
  object-fit: contain;
}
.container .section-1 {
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  overflow-x: hidden;
  background-color: green;
}
.container .section-1-with-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}
.container .section-1-without-text img {
  width: 100%;
}
.container .section-1 .section-1-active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.4em;
  bottom: 0;
  left: 0;
  border-radius: 10rem;
  background-color: hsl(51deg, 100%, 49%);
  z-index: -1;
  transition: width 0.2s;
}
.container .section-1 .section-1-active:hover.section-1-active::before {
  width: 100%;
  transition: width 0.2s;
}
.container .section-2 {
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  overflow-x: hidden;
}
.container .section-2-with-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}
.container .section-2-without-text img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.container .section-2 .section-2-active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.4em;
  bottom: 0;
  left: 0;
  border-radius: 10rem;
  background-color: hsl(7deg, 99%, 70%);
  z-index: -1;
  transition: width 0.2s;
}
.container .section-2 .section-2-active:hover.section-2-active::before {
  width: 100%;
  transition: width 0.2s;
}
.container .section-3 {
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
  overflow-x: hidden;
}
.container .section-4 {
  margin: 15rem auto;
  max-width: 80%;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .section-4-testimonials {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
