@use "base.scss" as *;

.header {
  max-height: 100vh;
  width: 100%;
  position: relative;
  &-bg {
    width: 100%;
    object-fit: cover;
    // aspect-ratio: 1/1;
  }
}

.main {
  .section-1 {
    min-height: 60vh;
    max-width: 100%;
    display: flex;
    &-with-text {
      width: 100%;
      display: grid;
      place-content: center;
    }

    &-without-text {
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    &-learnmore {
      &::before {
        background-color: $color-yellow;
      }
    }
  }

  .section-2 {
    min-height: 60vh;
    max-width: 100%;
    display: flex;
    &-with-text {
      width: 100%;
      display: grid;
      place-content: center;
    }

    &-without-text {
      width: 100%;
      img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }

    &-learnmore {
      &::before {
        background-color: $color-soft-red;
      }
    }
  }

  .section-3 {
    min-height: 60vh;
    max-width: 100%;
    display: flex;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      max-height: 20rem;
    }
    &-graphic-design {
      width: 100%;
      background: url(../images/desktop/image-graphic-design.jpg) top no-repeat;
      background-size: cover;
      aspect-ratio: 1/1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    &-photography {
      width: 100%;
      background: url(../images/desktop/image-photography.jpg) top no-repeat;
      background-size: cover;
      aspect-ratio: 1/1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem;
    text-align: center;
    &-testimonials {
      display: flex;
      gap: 5rem;
    }

    &-emily {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      img {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
      }
    }

    &-thomas {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      img {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
      }
    }

    &-jennie {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      img {
        width: 7.2rem;
        height: 7.2rem;
        border-radius: 50%;
      }
    }
    &-infos {
      & > *:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 80vh;
    &-gallery {
      display: flex;
    }

    &-img-wrapper {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 1000px) {
    .header {
      &-bg {
        aspect-ratio: 1/1;
      }
    }
    .section-1 {
      flex-wrap: wrap-reverse;

      &-with-text {
        padding: 5rem;

        & > * {
          margin: 1.5rem auto;
          text-align: center;
        }
      }
    }
    .section-2 {
      flex-wrap: wrap;
    }

    .section-3 {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1150px) {
    .section-4 {
      &-testimonials {
        flex-direction: column;
      }
    }
  }
}
