@use "base.scss" as *;

.container {
  min-height: 100vh;
  max-width: 100%;

  .nav {
    min-height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    &-logo {
      margin-left: 5rem;
    }

    &-list {
      margin-left: auto;
      margin-right: 5rem;
    }

    &-link:not(:last-child) {
      margin-right: 5rem;
    }

    .contact {
      border-radius: 10rem;
      background-color: $color-white;
      padding: 1rem 2rem;
      color: #000;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2rem;
      font-family: "Fraunces", serif;
      transition: background-color 0.2s, color 0.2s;
      &:hover {
        background-color: rgba($color-dark-blue, 0.4);
        color: $color-white;
      }
    }
  }

  .header {
    background: url(../images/desktop/image-header.jpg) center no-repeat;
    background-size: cover;
    min-height: 80vh;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    transition: all 0.2s;
    &-wrapper {
      max-width: fit-content;
      margin-top: 15rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-arrow-down {
      margin-top: clamp(5rem, 5vh, 10rem);
      object-fit: contain;
    }
  }

  .section-1 {
    @include sectionLayout;
    background-color: green;
    &-with-text {
      @include sectionWithText;
    }

    &-without-text {
      img {
        width: 100%;
        // object-fit: cover;
        // object-position: center;
      }
    }

    .section-1-active::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0.4em;
      bottom: 0;
      left: 0;
      border-radius: 10rem;
      background-color: $color-yellow;
      z-index: -1;
      transition: width 0.2s;
    }
    .section-1-active:hover.section-1-active::before {
      width: 100%;
      transition: width 0.2s;
    }
  }

  .section-2 {
    @include sectionLayout;
    &-with-text {
      @include sectionWithText;
    }
    &-without-text {
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .section-2-active::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0.4em;
      bottom: 0;
      left: 0;
      border-radius: 10rem;
      background-color: $color-soft-red;
      z-index: -1;
      transition: width 0.2s;
    }
    .section-2-active:hover.section-2-active::before {
      width: 100%;
      transition: width 0.2s;
    }
  }

  .section-3 {
    @include sectionLayout;

    &-graphic-design {
      img {
      }
    }

    &-photography {
    }
  }

  .section-4 {
    margin: 15rem auto;
    max-width: 80%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
    }

    &-testimonials {
      display: flex;
    }
  }
}
